@import url(main.css);

.wrap{
    background: #1B1A1A; 
}
.header{
    background: #1B1A1A;
}
.contentWrap{
    background: #121212;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.categories{
    margin-top: 5vh;
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-wrap: wrap;
    justify-content: center;
}
.categoryButton{
    margin:2.4vw;
    display: block;
    background: #E4F9FF;
    border-radius: 25px 0px;
    width: 11vw;
    height: 8vh;
    min-width: 100px;
    color: #000000;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.content{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}
.card{
    justify-content: space-evenly;
    width: 20vw;
    height: 65vh;
    min-width: 240px;
    min-height: 300px;
    max-height: 580px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background:#E4F9FF ;
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin:1vw;
}
.card h3{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #102425;
}
.card p{
    margin:1vh 0vh 1vh 0vh;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;   
    color: #103A3D;
    padding-left: 1vw;
    padding-right: 1vw;
}
.card span{
   margin-left: auto;
   margin-right: 1vw;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #02AFBA;
}
.card img{
    width: 14vw;
    margin-top: 1vw;
    min-width: 160px;
    max-width: 250px;
}

.on{
    background:#02AFBA;
    color: #FFFFFF;
}


@media screen and (max-width:768px) {
    .card h3{
        font-size: 18px;
    }
    .card p{
        font-size: 16px;
    }
    .card span{
        font-size: 18px;
    }
}