::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #1B1A1A;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 1920px 7px rgba(205, 243, 255, 0.9);
    border-radius: 3px;
}
body,html{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.banner{
    width: 100%;
    background-image: url('../images/background.png');
    display: flex;
    flex-flow: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 34vh;
}
.header{
    margin-top: 1vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    max-width: 200px;
    width: 12vw;
}
.leftNav, .rightNav{
    list-style-type: none;
}
.leftNav li{
    margin-bottom: 10px;
}
.leftNav li, .rightNav li{
    float: left;
}
.watches{
    margin-left: 3vw;
}
.catalog{
    margin-left: 11vw;
}
.leftNav a, .rightNav a{
    color: #FFFFFF;
    font-size: 1.25vw;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.aboutUs{
    margin-right: 7vw;
}
.navIcons img{
    margin-right: 2vw;
    width: 2vw;
    min-width: 25px;
}
.menu{
    display: none;
}
.banner h1{
    text-align: center;
    font-weight: 400;
    margin-top: 32vh;
    color: #CDF3FF;
    font-size: 2.2vw;
    font-family: 'Roboto', sans-serif;
}
.watchCollectionButton{
    transition: 0.6s;
    position: relative;
    width: 18vw;
    height: 8vh;
    min-height: 54px;
    max-height: 86px;
    min-width: 200px;
    /* background-image: url('../images/button.png'); */
    margin-top: 3vh;
    color: #FFFFFF;
    font-size: 1.30vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watchCollectionButton:hover{
    color: #CDF3FF;
    transition: 0.6s;
    background:rgba(255, 255, 255, 0.05);
}
.watchCollectionButton::before{
    content: "";
    transition: 0.6s;
    display: block;
    width: 4.9vw;
    height: 4.5vh;
    min-height: 25px;
    max-height: 45px;
    min-width: 60px;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 4px solid #CDF3FF;
    border-left: 4px solid #CDF3FF;
}
.watchCollectionButton::after{
    content: "";
    transition: 0.6s;
    display: block;
    width: 4.9vw;   
    height: 4.5vh;
    min-height: 25px;
    max-height: 45px;
    min-width: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 4px solid #CDF3FF;
    border-bottom: 4px solid #CDF3FF;
}
.watchCollectionButton:hover::after{
    content: "";
    display: block;
    width: 98%;
    height: 94%;
    transition: 0.6s;
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 4px solid #CDF3FF;
    border-bottom: 4px solid #CDF3FF;
    border-radius: 0 0 10% 0;
}
.watchCollectionButton:hover::before{
    content: "";
    display: block;
    width: 98%;
    height: 94%;
    transition: 0.6s;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 4px solid #CDF3FF;
    border-left: 4px solid #CDF3FF; 
    border-radius: 10% 0 0 0;
}

.infoblockWrap{
    background:#1B1A1A;
    display: flex;
    justify-content: center;
    width: 100%;
}
.infoblockContent{
    width: 60vw;
    display: flex;
    flex-flow: column;
}
.infoblockContent h1{
    margin-top: 7vh;
    font-weight: 400;
    color: #CDF3FF;
    font-size: 1.85vw;
    font-family: 'Roboto', sans-serif;
}
.infoblockContent p{
    color: #FFFFFF;
    font-size: 1.55vw;
    font-family: 'Roboto', sans-serif;
}
.infoblockContent a{
    color: #CDF3FF;
    font-size: 1.7vw;
    font-family: 'Roboto', sans-serif;
    right: auto;
    align-self: flex-end;
    margin-top: 4vh;
    margin-bottom: 8vh;
}

.newModelsWrap{
    background: #121212;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom:14vh;
}
.newModelsWrap h1{
    margin-top: 6vh;
    margin-bottom: 9vh;
    font-weight: 400;
    color: #CDF3FF;
    font-size: 2.2vw;
    font-family: 'Roboto', sans-serif;
}
.newModels{
    display: flex;
    justify-content: center;
}
.newModel{
    width: 22vw;
    min-width: 230px;
    background:#E4F9FF;
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newModel2{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
.newModel img{
    width: 19vw;
    min-width: 260px;
    max-height: 450px;
    max-width: 320px;
}

.bestModelsWrap{
    background: #121212;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom:10vh;
}
.bestModelsWrap h1{
    margin-top: 6vh;
    margin-bottom: 9vh;
    font-weight: 400;
    color: #CDF3FF;
    font-size: 2.2vw;
    font-family: 'Roboto', sans-serif;
}
.bestModels{
    margin-top: -12vh;
    display: flex;
    align-items: center;
}
.bestModel{
    width: 22vw;
    min-width: 280px;
    background:#E4F9FF;
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bestModel2{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 20vh;
}
.bestModel img{
    width: 16vw;
    min-width: 300px;
}
.leftArrow{
    margin-right:2vw ;
}
.rightArrow{
    margin-left:2vw ;
}
.sliderPoints{
    display: flex;
    justify-content: space-between;
    width: 12vw;
    margin-top: 6vh;
}
.sliderPoint{
    width: 1.3vw;
    height: 1.3vw;
    border-radius: 50%;
    background:#E4F9FF;
}
.active{
    background:#78E1FF;
}


.partnersWrap{
    background: #1B1A1A;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom:10vh;
}
.partnersWrap h1{
    margin-top: 7vh;
    margin-bottom: 2vh;
    font-weight: 400;
    color: #CDF3FF;
    font-size: 1.9vw;
    font-family: 'Roboto', sans-serif;
}
.partners{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.partners img{
    margin:2vw;
    width: 13vw;
    min-width: 100px;
}

.socMediasWrap{
    background: #121212;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.socMediasWrap h1{
    margin-top: 5vh;
    font-weight: 400;
    color: #CDF3FF;
    font-size: 1.9vw;
    font-family: 'Roboto', sans-serif;
}
.socMedias{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2vh;
}
.socMedias img{
    margin:2vw;
    width: 60px;
    height: 60px;
}


.footerWrap{
    width: 100%;
    background: #0C0C0C;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.footer{
    margin-top: 8vh;
    margin-bottom: 10vh;
    width: 75vw;
    display: flex;
    justify-content: space-between;
}
.footerNav{
    list-style-type: none;
}
.footerNav li{
    margin-top: 3vh;
    text-align: center;
}
.footerNav a{
    color: #F3FCFF;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.footerContacts{
    width: 18vw;
    color: #F3FCFF;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}
.footerLogo img{
    margin-top: 2vh;
    width: 15vw;
}
.copyright{
    color: #CDF3FF;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5vh;
}


@media screen and (max-width:1024px) {
    .bestModel1{
        display: none;
    }
    .bestModel3{
        display: none;
    }
    .bestModel2{
        width: 40vw;
        margin-top: 10vh;
    }
    .sliderArrow{
        margin-top: 10vh;
    }
    .sliderPoints{
        display: none;
    }
    .bestModels{
        margin-top: -50px;
    }

    .infoblockContent{
        width: 80vw;
    }
    .newModel, .bestModel{
        width: 18vw;
        min-width: 220px;
        margin: 3vw;
    }
    .newModel img, .bestModel img{
        width: 25vw;
        min-width: 220px;
        max-height: 370px;
    }
    .newModelsWrap h1{
        margin-top: 4vh;
        margin-bottom: 5vh;
    }

    .header{
        justify-content: space-between;
    }
    .leftNav a, .rightNav a{
        font-size: 1.9vw;
    }
    .banner h1{
        font-size: 3.4vw;
    }
    .aboutUs{
        margin-right: 9vw;
    }
    .logo{
        margin-left: 5vw;
        min-width: 100px;
    }

}
@media screen and (max-width:768px) {
    .leftNav, .rightNav{
        display: none;
    }
    .menu{
        display: block;
    }
    .newModels{
        flex-flow: column;
    }
    .bestModel{
        margin-top: 10vw;
    }
    .banner h1{
        font-size: 32px;
    }
    .infoblockContent a{
        font-size: 15px;
    }
    .watchCollectionButton{
        font-size: 14px;
    }
    .infoblockContent h1, .newModelsWrap h1, .bestModelsWrap h1, .partnersWrap h1, .socMediasWrap h1{
        font-size: 18px;
        text-align: center;
    }
    .bestModelsWrap h1{
        margin-top: 3vh;
        margin-bottom: 4vh;
    }
    .infoblockContent p{
        font-size: 14px;
        text-align: center;
    }
    .footerNav{
        padding-left: 0;
    }
    .footerNav a{
        font-size: 14px;
    }
    .footerContacts p{
        font-size: 14px;
    }
    .socMedias img{
        width: 30px;
        height: 30px;
    }
    .copyright{
        font-size: 14px;
    }
    .sliderArrow img{
        width: 20px;
    }
}