body{
    margin: 0;
}
.wrap{
    width: 100%;
    height: 100%;
}
.banner{
    background-image: url('../images/background.png');
    display: flex;
    flex-flow: column;
    align-items: center;
    background-size: cover;
    padding-bottom: 34vh;
}
.header{
    margin-top: 1vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftNav, .rightNav{
    list-style-type: none;
}
.leftNav li, .rightNav li{
    float: left;
}
.watches{
    margin-left: 3vw;
}
.catalog{
    margin-left: 11vw;
}
.leftNav a, .rightNav a{
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.aboutUs{
    margin-right: 7vw;
}
.navIcons img{
    margin-right: 2vw;
}
.banner h1{
    font-weight: 400;
    margin-top: 32vh;
    color: #CDF3FF;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.watchCollectionButton{
    display: block;
    width: 330px;
    height: 68px;
    background-image: url('../images/button.png');
    margin-top: 3vh;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoblockWrap{
    background:#1B1A1A;
    display: flex;
    justify-content: center;
    width: 100%;
}
.infoblockContent{
    width: 60vw;
    display: flex;
    flex-flow: column;
}
.infoblockContent h1{
    margin-top: 7vh;
    font-weight: 400;
    color: #CDF3FF;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
}
.infoblockContent p{
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.infoblockContent a{
    color: #CDF3FF;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    right: auto;
    align-self: flex-end;
    margin-top: 4vh;
    margin-bottom: 8vh;
}

.newModelsWrap{
    background: #121212;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom:14vh;
}
.newModelsWrap h1{
    margin-top: 6vh;
    margin-bottom: 9vh;
    font-weight: 400;
    color: #CDF3FF;
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
}
.newModels{
    display: flex;
}
.newModel{
    width: 19vw;
    height: 53vh;
    background:#E4F9FF;
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newModel2{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.bestModelsWrap{
    background: #121212;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom:10vh;
}
.bestModelsWrap h1{
    margin-top: 6vh;
    margin-bottom: 9vh;
    font-weight: 400;
    color: #CDF3FF;
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
}
.bestModels{
    margin-top: -12vh;
    display: flex;
    align-items: center;
}
.bestModel{
    width: 19vw;
    height: 53vh;
    background:#E4F9FF;
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bestModel2{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 20vh;
}
.leftArrow{
    margin-right:2vw ;
}
.rightArrow{
    margin-left:2vw ;
}
.sliderPoints{
    display: flex;
    justify-content: space-between;
    width: 12vw;
    margin-top: 6vh;
}
.sliderPoint{
    width: 1.3vw;
    height: 1.3vw;
    border-radius: 50%;
    background:#E4F9FF;
}
.active{
    background:#78E1FF;
}


.partnersWrap{
    background: #1B1A1A;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom:10vh;
}
.partnersWrap h1{
    margin-top: 4vh;
    margin-bottom: 9vh;
    font-weight: 400;
    color: #CDF3FF;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
}
.partners{
    display: flex;
    align-items: center;
}